venv/*
__pycache__
chromedriver
.env
schedules/schedule.json
# Ignore all schedule json files
schedules/*.json
# But do not ignore the template schedule
!schedules/template_schedule.json

screenshots/
